.contactForm{
    display: flex;
    flex-direction: column;
    width: 60vh;
    
}

label {
    color: white;
    font-size: 0.8rem;
}

.formButton{
    margin-top: 3%;
    width: 10vh;
    height: 3vh;
    background-color: red;
    color: white;
    border-radius: 0;
    border: none;
}

@media only screen and (max-width: 900px) {
    .contactForm{
        display: flex;
    flex-direction: column;
        
        width: 80vw;
        
    }
}