.contactForm{
    display:grid;
    width: 60vh;
    grid-template-rows: 2.5vh 3vh 2.5vh 3vh 2.5vh 10vh 10vh 10vh;
    grid-template-columns: 1fr;
}

label {
    color: white;
    font-size: 0.8rem;
}

.formButton{
    margin-top: 3%;
    width: 10vh;
    height: 3vh;
    background-color: red;
    color: white;
    border-radius: 0;
    border: none;
}

@media only screen and (max-width: 900px) {
    .contactForm{
        display:grid;
        
        width: 80vw;
        grid-template-rows: 2.5vh 3vh 2.5vh 3vh 2.5vh 10vh 10vh 10vh;
        grid-template-columns: 1fr;
    }
}