.clownImg{
    margin-top: 1vh;
    width: 60%;
    height: auto;
}

.experience {
    
    margin-bottom: 5%;
}

.iconsGrid {

   
}

.center{
    text-align: center;
  }

.infoText{
    text-align: center;
    
}

@media only screen and (max-width:900px){
    .clownImg{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        height: auto;
    }
  
}