

.naturalisImg{
  
    height: auto;
    padding-top: 7%;
    padding-bottom: 3%;
}

.one {
    width: 400px;
}

.two{
    width: 100%;
}
.naturalisImgWrapper{
    padding-top: 10%;
    width: inherit;
    display:grid;
    justify-items: center;
}

model-viewer{
    width: 900px;
    height: 1200px;
}
