.quoteHeader{
    font-size: 1.5rem;
}

.infoText{
    font-size: 0.8rem;
    text-align: justify;
    color: whitesmoke;
}

.virusBody{
    height: auto;
    display: grid;
    margin-top: 10%;
    grid-template-rows: 14vh 10vh 5vh 40vh 65vh 75vh 10vh 5vh 4vh;
   
  }

  .weedDoctorBody{
    height: auto;
    display: grid;
    margin-top: 10%;
    grid-template-rows: 14vh 10vh 5vh 97vh 60.1vh 55vh 12vh;
   
  }

  
.naturalisBody{
  height: auto;
  display: grid;
  margin-top: 10%;
  grid-template-rows: 14vh 20vh 5vh 40vh 65vh 75vh 10vh 5vh 4vh;
}

.somzoaBody{
  height: auto;
  display: grid;
  margin-top: 10%;
  grid-template-rows: 14vh 10vh 20vh 60vh 140vh 20vh 60vh; 
}

.aboutBody{
  height: auto;
  display: grid;
  margin-top: 10%;
  grid-template-rows: 14vh 10vh 20vh 60vh 140vh 20vh 60vh;
 
}


  button{
    
    font-size: 0.7rem;
    z-index: 1000;
    width: 10vh;
    height: 2.3vh;
    background-color: red;
    color:white;
    border-radius: 0;
    border-style:hidden;
    margin-right: 4%;
    margin-top: 2%;
  }

  button:hover{
    color:black;
    cursor: pointer;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 23vh;
    
    

  }
