

.topImage {
    width: 100%;
    height: auto;
}

.sectionTwo {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    background-color:#A6A39E;
    height: auto;
}

.sectionThree {
    background-color:#f2efe9;
    height: auto;
    margin-bottom: 3em;
}

.sectionFour {
    background-color:#DEDAD4;
    height: auto;
    margin-bottom: 3em;
    
}

.sectionFive {
    background-color: white;
    height: auto;
    margin-bottom: 3em;
}

.virusAppImgSectionTop{
   
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-right: 1.5%;
    width: 95%;
    height: auto;
    top:0;
}

.virusAppImgSectionTwo{
    width: 100%;
    height: auto;
}


.virusAppImgSectionThree{
    margin-top: 3%;
    width: 100%;
    height: auto;

} 
.virusAppImgSectionFour{
    width: 100%;
    height: auto;

} 