.topImage {
    width: 100%;
    height: auto;
}

.sectionTwo {
    display: grid;
    justify-items: center;
    
    background-color:#A6A39E;
    height: 100%;
}

.sectionThree {
    background-color:#DEDAD4;
    height: 100%;
}

.sectionFour {
    background-color:#DEDAD4;
    height: 100%;
}

.sectionFive {
    background-color: white;
    height: 100%;
}

.virusAppImgSectionTop{
    margin-top: 4.5%;
    margin-right: 1.5%;
    width: 95%;
    height: auto;
}

.virusAppImgSectionTwo{
    width: 100%;
    height: auto;
}


.virusAppImgSectionThree{
    width: 100%;
    height: auto;

} 
.virusAppImgSectionFour{
    width: 100%;
    height: auto;

} 