
.wdsectionTwo {
    display: grid;
    justify-items: center;
    
    background-color:black;
    height: auto;
}

.wdsectionThree {
    background-color:black;
    height: auto;
    margin-top: 10%;
}

.wdsectionFour {
    background-color:black;
    height: auto;
    margin-top: 10%;
    
}

.wdsectionFive {
   
    height: auto;
}


.wdOverviewImg{
    width: 100%;
}

.wdFlowchartImg{
    width: 100%;
}

.wdFigmaImg{
    width: 100%;
}