
.wdsectionTwo {
    display: grid;
    justify-items: center;
    
    background-color:#A6A39E;
    height: 100%;
}

.wdsectionThree {
    background-color:#DEDAD4;
    height: 100%;
}

.wdsectionFour {
    background-color:#DEDAD4;
    height: 100%;
}

.wdsectionFive {
   
    height: 100%;
}


.wdOverviewImg{
    width: 100%;
}

.wdFlowchartImg{
    width: 100%;
}

.wdFigmaImg{
    width: 100%;
}