.projectItem{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 35vh auto;
    
    height: 100%;
    z-index: 998;
    position: relative;
    z-index: 0;
    overflow: hidden;
    
  }
  
  .projectBlockLeft{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    background-color: white;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100%;
    padding: 10%;
    padding-right: 20%;
  }

  .projectTitle{
    color:red;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 1.5rem;
    
   
  }

  .projectDescription{
    color: black;
    font-size: 0.7rem;
    
    
    
  }
  .projectCategory{
    color: red;
    font-size: 0.7rem;
  
    
    
  }

  
  .projectBlockRight{
    
    position: relative;
    z-index: 1;
    background-color: gray;
    height: 100%;
    max-width: 100%;
    
  }

  .projectImage {
    position: relative;
    width: 100%;
    height: auto;
    
    z-index: -2;
  }

  .projectImageTwo {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 100%;
    z-index: -2;
    position: relative;
    
    object-fit:cover;
  }

  .projectImageThree {
    margin-top: -2%;
    width: 100%;
    

  }
  .projectOverlay {
    display: grid;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;
    background-color: lightseagreen;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    opacity: 0;
    align-content: center;
    justify-items: center;
    
  }

  .button{
    position: absolute;
    z-index: 1000;
    width: 15vh;
    height: 3vh;
    color: white;
    background-color: red;
    border-style:hidden;
    
  }

  .v {
    color: white; 
  margin-top: 21%; }

 



 
 