nav {
    position: sticky;
    z-index: 1000;
    display: grid;
    width: 57em;
    height: 8vh;
    padding-bottom: 1%;
    grid-template-columns: 5% 77.2% 10% 10%;
    grid-template-rows: 100%;
    background-color: black;
    align-items: flex-end;
    position: fixed;
    
  }

  .rD{
    margin-bottom: 0.3%;
    text-decoration: none;
    font-weight: 700;
    color: #E57070;
    font-size: 1em;
  } 

  .rD:hover{
    color: white;
    font-size: 1.1em;
  }
  .links {
    text-justify: right;
    font-size: 0.8em;
    color: #E57070;
    text-decoration: underline;
    text-decoration-thickness: 0.125;
    
    
  }

  .links:hover{
      color:white;
      font-size: 0.9em;
  }

 @media only screen and (max-width: 900px){

 }