nav {
    position: relative;
    z-index: 1000;
    display: grid;
    width: 92.5vh;
    height: 8vh;
    padding-bottom: 1%;
    grid-template-columns: 5% 77.2% 10% 10%;
    grid-template-rows: 100%;
    background-color: black;
    align-items: flex-end;
    position: fixed;
    
  }

  .rD{
    margin-bottom: 0.3%;
    text-decoration: none;
    font-weight: 700;
    color: #E57070;
    font-size: 1.5vh;
  } 

  .rD:hover{
    color: white
  }
  .links {
    text-justify: right;
    font-size: 1.3vh;
    color: #E57070;
    text-decoration: underline;
    text-decoration-thickness: 0.125;
    
    
  }

  .links:hover{
      color:white;
  }

 @media only screen and (max-width: 900px){
  nav {
    position: relative;
    z-index: 1000;
    display: grid;
    width: 100vw  !important;
    height: 4vh;
    padding-bottom: 4%;
    gap: 5vw;
    grid-template-columns: 33% 0% 33% 33%;
    background-color: black;
    align-items: flex-end;
    position: fixed;
    
  }
 }