#myScrollbar {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p, a {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4vh;
  text-decoration: none;

}
h2{
  color:white;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: red;
}
.links {
  font-size: 2rem;
}

.hi {
  font-size: 1.7vh;
}
.cV{
  margin-top: 1vh;
  color: #E57070;
  font-size: 1.4vh;
  text-decoration: line-through;
}

.cV:hover{
  text-decoration: white;
}

#root {
  display: grid;
  grid-template-columns:  100%;
  justify-content: center;
  background-color: black;
  position: relative;
  z-index: 0;
  height: auto;
  
}

.appGrid {
  display: grid;
  grid-template-columns: 0vh 91vh 0vh;
  
  justify-content: center;
  height: auto;
  width: 100%;
  background-color:black;
  position: relative;
  z-index: 0;
}






.homeBody{
  width: 91vh;
  height: auto;
  display: grid;
  margin-top: 10vh;
  grid-template-rows: 4vh 4vh 4vh 5vh 200vh 20vh;
 
 

}

@media screen and (max-width: 730px) {
  .homeBody{
    width: 90vw;
    }
    .appGrid {grid-template-columns: 0vh 91vw 0vh;}
  
}




.projectBody{
  height: auto;
  display: block;
  grid-template-rows: auto;
 
  
 
  
}

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 10vh;
  width: 100%;
  border-top: 0.1vh solid #E57070;
  margin-bottom: 10vh;
 
}

.footerText{
  margin-top: -4.3vh;
  
  


}
