#myScrollbar {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p, a {
  color:white;
  font-family: 'Roboto', sans-serif;
 
  text-decoration: none;

}

a{
  font-size: 0.7em;
}
h2{
  color:white;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: red;
}


.links {
  font-size: 2rem;
}

.hi {
  font-size: 0.95em;
}
.cV{
  margin-top: 1vh;
  color: #E57070;
  font-size: 0.9em;
  text-decoration: line-through;
}

.cV:hover{
  text-decoration: white;
}



.appGrid {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;

}




.homeBody{
  width: 57em;
  height: auto; 
  margin-top: 10vh;
  
 

}

@media screen and (max-width: 730px),(orientation: portrait)  {
 
  
}




.projectBody{
  height: auto;
  display: block;
  grid-template-rows: auto;
 
  
 
  
}

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 10vh;
  width: 100%;
  border-top: 0.1vh solid #E57070;
  margin-bottom: 10vh;
  margin-top: 10vh;
 
}

.footerText{
  margin-top: -4.3vh;
  font-size: 0.85em;
  
  


}
